.mobile-cell {
    display: flex;
    gap: 20px;
    width: 90%;
    height: 85%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: var(--middle);
    box-shadow: 0 4px 30px var(--light-shadow);
}

.device-frame {
    width: 28%;
    height: 100%;
    border: 5px solid var(--dark);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-frame video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.device-frame.ios {
    border-radius: 40px;
}

.device-frame.android {
    border-radius: 15px;
}

.project-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 30px;
}

.project-details h3 {
    margin: 0;
    font-size: 32px;
}

.description {
    flex-grow: 1;
    font-size: 18px;
}

.date {
    display: inline-block;
    width: fit-content;
    font-size: 14px;
    padding: 5px 12px;
    border-radius: 8px;
    background-color: var(--dark);
    color: var(--light);
}

.tags {
    margin-bottom: 15px;
}

.tag {
    display: inline-block;
    margin-right: 8px;
    padding: 5px 9px;
    border-radius: 8px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 14px;
}

.actions {
    display: flex;
    gap: 16px;
}

.actions button:hover {
    background: var(--tertiary);
    color: var(--secondary);
}