.dock {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 14px;
}

.dock-inner {
    display: flex;
    gap: 32px;
    padding: 12px 28px;
    background-color: var(--primary);
    border-radius: 28px;
    border: 1px solid var(--middle);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px var(--shadow);
}

.dock-devider {
    width: 2px;
    background-color: var(--middle);
    border-radius: 1px;
}