@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter_24pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
    --primary: #0d1b2a;
    --secondary: #c0c4c6;
    --tertiary: #222222;
    --dark: #111111;
    --light: #f5f5f7;
    --middle: #4d4d4d;
    --border: rgba(28, 55, 85, 0.2);
    --shadow: rgba(55, 55, 55, 0.5);
    --light-shadow: rgba(85, 85, 85, 0.5);
    --success: #10d261;
    --error: #ff5f56;
    --warning: #ffbd2e;

    --font-primary: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.app {
    width: calc(100vw - 2px);
    height: calc(100vh - 2px);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    border: 1px solid var(--secondary);
    font-family: var(--font-primary);
}

.container {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 8px 20px;
    box-shadow: inset 0 0 10px var(--shadow);
    border: px solid var(--border);
    color: var(--light);
    background-color: var(--primary);
}

.content {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
}